@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@source "../../core";

@theme {
  --background-image-temper: url("assets/images/temper.svg");
  --background-image-noise: url("assets/images/noise.png");

  --color-primary: var(--color-blue-900);
  --color-primary-foreground: var(--color-slate-700);
  --color-success: var(--color-green-800);
  --color-success-foreground: var(--color-slate-700);
  --color-danger: var(--color-rose-800);
  --color-danger-foreground: var(--color-slate-700);
  --color-pending: var(--color-orange-800);
  --color-pending-foreground: var(--color-slate-700);
  --color-warning: var(--color-yellow-800);
  --color-warning-foreground: var(--color-slate-700);
  --color-background: var(--color-slate-900);
  --color-foreground: var(--color-slate-50);

  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-slate-900);

  --background-image-accent: url("./assets/images/accent.svg");
  --background-image-noise: url("./assets/images/noise.png");

  --background-image-chevron-dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>');
  --background-image-chevron-light: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>');

  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-instrument-sans: "Instrument Sans", sans-serif;
}

.dark {
  --color-primary: var(--color-blue-600);
  --color-primary-foreground: var(--color-slate-400);
  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-slate-300);
  --color-danger: var(--color-rose-500);
  --color-danger-foreground: var(--color-slate-300);
  --color-pending: var(--color-orange-500);
  --color-pending-foreground: var(--color-slate-300);
  --color-warning: var(--color-yellow-500);
  --color-warning-foreground: var(--color-slate-300);

  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
}

@utility container {
  max-width: 92rem;
}

@utility blur-in {
  animation: blur-in 0.3s ease-in-out;
}

@utility lucide {
  @apply stroke-[1.5];
}

body {
  @apply font-instrument-sans bg-background overflow-x-hidden bg-fixed antialiased text-foreground text-foreground text-sm;
  background-image: repeating-linear-gradient(
      0deg,
      --alpha(var(--color-foreground) / 6%) 0,
      --alpha(var(--color-foreground) / 6%) 1px,
      transparent 1px,
      transparent 10rem
    ),
    repeating-linear-gradient(
      90deg,
      --alpha(var(--color-foreground) / 6%) 0,
      --alpha(var(--color-foreground) / 6%) 1px,
      transparent 1px,
      transparent 10rem
    );
}

select {
  @apply bg-chevron-dark bg-size-[1.2rem] bg-[calc(100%-.5rem)_center] bg-no-repeat;
}

.dark {
  select {
    @apply bg-chevron-light;
  }
}

@keyframes presence-enter {
  from {
    scale: 0.9;
    opacity: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes presence-exit {
  to {
    opacity: 0;
    scale: 0.9;
  }
}

[data-scope="presence"][data-state="open"] {
  animation: presence-enter 0.15s ease-out;
}

[data-scope="presence"][data-state="closed"] {
  animation: presence-exit 0.1s ease-in;
}
